body{
	margin: 0;
	padding: 0;
	font-family: 'lato' , sans-serif;
	font-size: 16px;
	background-image: url(../image11.JPG);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;		
	}

	.nav{
	width: 100%;
	background-color: rgba(450,0,60,0.8);
	color: #fff;

}

.menu{
	line-height: 45px;
	font-weight: 700;
	text-transform: uppercase;
}

.nav ul{

	list-style-type: none;
	margin: 0;
	padding: 0;
}


.nav .menu .menu_item{
	display: inline-block;
	position: relative;
}

.menu_item:hover{
	background-color: #2c3e50
}

.nav .menu .menu_item a{
	padding: 12px 24px;
	cursor: pointer;
	text-decoration: none;
	color: #fff;
}

.submenu{
	text-transform: none;
	display: none;
	position: absolute;
	width: 220px;
	background-color: rgba(0,0,0,0,1);
}

.menu_item:hover .submenu{
	display: block;
}

.submenu_item:hover{
	border-left: 4px solid trasparent;
}

.submenu_item:hover{
	background-color: rgba(0,0,0,0.6);
	border-left: 4px solid rgba(450,0,60,0.8);
}


.paragraph4{
	position: absolute;
	top: 1%;
	left: 38%;
	transform: translate(-50%-50%);
	color:#fff;
	font-size: 20px;
	font-family:'Comic Sans MS', cursive, sans-serif
}



.gallery{
	margin:100px;
	float:left;
	width:50px;

}

.gallery img{
	width:350%;
	height:auto;
}


.gallery2{
	margin:90px;
	float:right;
	width:200px;

}

.gallery2 img{
	width:100%;
	height:auto;
}

.gallery2{
	margin:90px;
	float:right;
	width:200px;
}

.gallery3{
	margin:90px;
	float:right;
	width:200px;
}



.gallery3 img{
	width:100%;
	height:auto;
}

.gallery4{
	margin:50px;
	float:right;
	width:160px;
}

.gallery4 img{
	width:95%;
	height:auto;
}

.paragraph{
	position: absolute;
	top: 76%;
	left: 52%;
	transform: translate(-50%-50%);
	color: #E4ECE6 ;
	font-size: 25px;
}

.paragraph2{
	position: absolute;
	top: 80%;
	left: 79%;
	transform: translate(-50%-50%);
	color: #E4ECE6 ;
	font-size: 25px;
}

.paragraph3{
	position: absolute;
	top: 80%;
	left: 26%;
	transform: translate(-50%-50%);
	color: #E4ECE6 ;
	font-size: 25px;
}

.paragraph5{
	position: absolute;
	top: 81%;
	left: 8%;
	transform: translate(-50%-50%);
	color: #E4ECE6 ;
	font-size: 25px;
}